 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

div .logo_head {
	float: left;
	position: absolute;
	top: 70px;
	left: 150px;
}

div .h1_text {
	position: absolute;
	top: 170px;
	left: 150px;
	font-family: serif;
	font-size: 38px;
	letter-spacing: 5px;
}

 .h1_text span {
	color: #eed4d3;
}

#main_dv p {
	position: absolute;
	top: 325px;
	left: 150px;
	font-family: cursive;
	color: #eed4d3;
	font-size: 15px;
}

.form_class {
/**	position: absolute; **/
	left: 400px;

	background-color: transparent;
	color: #eed4d3;
}
input {
	position: absolute;
	margin-left: 140px;
	outline: none;
	top: 450px;
	border-radius: 20px;
	width: 400px;
	height: 35px;
	background-color: transparent;
	padding-left: 20px;
	color: #eed4d3;
}
.btn {
	position: absolute;
	left: 50px;
	top: 450px;
	margin-left: 450px;
	background-color: lightpink;
	border: none;
	width: 80px;
	border-radius: 20px;
	height: 40px;
}

.hero_flex {
	float: right;

}
@media screen and (max-width: 500px){

}
 
